PORT=8181 # The port that the API server will run on
MORGAN=combined
TRUST_PROXY= # Use 1 for Cloudflare support
ADMIN_ROUTES=true # Enable administration routes - Turn off after done.
WEB_ROUTES=true # Enable web routes - EXPERIMENTAL!
SKIN_ROUTES=true # Enable skin support - NOTE: This is not for normal Minecraft, it's meant for a plugin like SkinsRestorer.


PASSWORD_SALT=         # if your database gets compromised, this will be required to decrypt the passwords
                                                    # if this value is left empty, the server will generate one and output it to copy
                                                    # changing this value will result in all old passwords to be invalid credentials

JWT_SECRET=Change_JWT_SECRET_Before_You_Get_Hacked  # json web token secret salt

ADMIN_KEY=Change_ADMIN_KEY_Before_You_Get_Hacked    # the key required to do any admin actions



SALT_ROUNDS=10                                      # this is used for automatic generation of the password salt


DATABASE_URL=file:/data.db                          # the database url for user/session/profile storage

API_MODE=authlib                                    # this feature ensures compatibility between authlib and mojang
                                                    #
                                                    # combined = adds additonal information to routes to support both
                                                    # mojang = replicates as close as possible to original mojang services
                                                    # authlib = use authlib expected responses on certain routes



# Authlib Specifc
# 'Features' is an authlib feature that allows servers to have additional functionality

FEATURE_NON_EMAIL_LOGIN=true                        # if true, you have to add 'feature.non_email_login' to the meta
                                                    # section in the authlib.json file if you're using authlib support